<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Database</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>Customer Database</h1>
    <table border="1" id="customerTable">
        <thead>
        </thead>
        <tbody>
        </tbody>
    </table>
    <script>
    $(document).ready(function() {
    var keys = ['id', 'customer_id', 'first_name', 'last_name', 'company', 'city', 'country', 'phone1', 'phone2', 'email', 'subscription_date', 'website', 'sales_2021', 'sales_2022'];
    var thead = $('#customerTable thead');
    var tr = $('<tr></tr>');
    $.each(keys, function(index, key) {
        tr.append($('<th></th>').text(key));
    });
    thead.append(tr);

    $.getJSON('/get_customers', function(data) {
        $.each(data, function(key, item) {
            var row = $('<tr></tr>');
            $.each(keys, function(index, key) {
                var cell = item[key];
                row.append($('<td></td>').text(cell));
            });
            $('#customerTable tbody').append(row);
        });
    });
});
    </script>
</body>
</html>